<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
    <link style=stylesheet href="/css/style.css">
</head>
<body>

    <!--Header-->
        <header id="head">
            <nav> 
                <div class="contain">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">My Contacts</a>
                    </div>
                </div>
            </nav>
        </header>
    <!--/Header-->


    <!--Main Site-->
        <main id="main-site">
            <div class="contain">
                <div>
                </div>
            </div>
        </main>
    <!-- / Main Site-->