<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!--Header-->
        <header id="head">
            <nav> 
                <div class="contain">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">My Contacts</a>
                    </div>
                </div>
            </nav>
        </header>
    <!--/Header-->


    <!--Main Site-->
        <main id="main-site">
            <div class="contain">
                <div class="box-nav d-flex justify-between">
                    <div class="filter">
                        <a href="/"><i class="fas fa-angle-double-left"></i><i class="fas fa-users"></i>All Users</a>
                    </div>
                </div>
                <div class="form-title text-center">
                    <h2 class="text-dark">New Contact</h2>
                    <span class="text-light"> Create New Account</span>
                </div>

                <!--Form-->
                <form method="POST" id="edit_user">
                    <div class="new_user">
                        <div class="form-group">
                            <label for="name" class="text-light">First Name</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="Joe">
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-light">Last Name</label>
                            <input type="text" name="name" value="" placeholder="DPS">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-light">Email</label>
                            <input type="text" name="email" value="" placeholder="dps@official.com">
                        </div>
                        <div class="form-group">
                            <label for="number" class="text-light">Number</label>
                            <input type="number" name="name" value="" placeholder="0000222">
                        </div>
                        <div class="form-group">
                            <label for="name" class="text-light">Nickname</label>
                            <input type="text" name="name" value="" placeholder="nickname">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn text-dark edit"> Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    <!-- / Main Site-->