<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!--Header-->
        <header id="head">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-bar text-black">My Contacts App</a>
                    </div>
                </div>
            </nav>
        </header>
    <!--/Header-->

    <!-- Main Site-->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex-justify-between">
                    <a href="/add-user" class="border-shadow">
                        <span class="text-gradient">New User<i class="fas fa-user"></i></span>
                    </a>
                </div>

                <!--Forms-->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>@Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Username</td>
                                <td>Lastname</td>
                                <td>example@gmail.com</td>
                                <td>
                                    <a href="#" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-user-edit"></i></span>
                                    </a>
                                    <a class="btn border-shadow del">
                                        <span class="text-gradient"><i class="fas fa-trash"></i></span>
                                    </a>
                                </td>
                            </tr>  
                        </tbody>
                    </table>
                </form>
                <!-- /Forms-->
            </div>
        </main>
    <!--/Main Site-->