@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.nav-brand {
    font-size: 1.6em;
    font-weight: bold;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px rgb(21, 43, 60);
}

.text-dark {
    color: aqua;
}

.inline {
    display: inline-block;
}

.text-light {
    color: antiquewhite;
}

.text-gradient {
    background: linear-gradient(to right, rgba(169, 75, 247, 0.2), rgb(6, 143, 255));
    --webkit-background-clip: text;
    background-clip: text;
    --webkit-text-fill-color: transparent;
}

#head nav {
    background-color: rgb(4, 154, 255);
    padding: 1em 0;
    width: 100%;
}

#site-main {
    margin-top: 6em;
    font-family: 'Lato', sans-serif;
}

#site-main .container .box-nav>a {
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form {
    margin: 2em 0;
}

table {
    border-spacing: 0px;
    width: 100%;
}

.table td,
.table th {
    padding: .76em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td>a.btn {
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover {
    background-color: rgb(64, 210, 255);
}

.table tr:hover td>a {
    box-shadow: none;
}

.table .thead-dark th {
    color: #fff;
    background-color: rgb(37, 51, 58);
    border-color: #32383e;
}