@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.contain {
    max-width: 1024px;
    margin: auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.border-shadow {
    border: 1px solid rgb(174, 173, 173);
    box-shadow: 1px 3px 10px #fff;
}

.text-dark {
    color: rgb(31, 31, 31);
}

.inline {
    display: inline-block;
}

.text-light {
    color: #fff;
}

.text-gradient {
    background: linear-gradient(to right, rgb(116, 85, 255), rgb(196, 68, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#head nav {
    background-color: rgb(16, 189, 252);
    padding: 1em 0;
    width: 100%;
}

#main-site {
    margin-top: 6em;
    font-family: 'Montserrat', sans-serif;
}

#main-site .contain .box-nav>a {
    font-size: 1em;
    padding: .5em 1em;
}

#main-site .contain form {
    margin: 2em 0;
}

table {
    border-spacing: 0px;
    width: 100%;
}